:root{
    --text-gray: #9aa3bd;
    --bg-dark: #111;
    --text-white: #fff;
    --bg-button: #333;
    --bg-hero: #222;
    --border-light: rgba(255, 255, 255, 0.3); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: borderbox;
    font-family: "Corben", serif;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--bg-dark);

    .logo {
    height: 60px;
    }

    .navigation{
        display: flex;
        gap: 20px;
        align-items: center;
        list-style: none;

        .item{
            .link{
                color: var(--text-gray);
                text-decoration: none;
                transition: 0.3s;

                &:hover, &.active{
                    color: var(--text-white);
                }
            }
            .call-to-action{
                background-color: var(--bg-button);
                border: 1px solid var(--text-gray);
                color: var(--text-white);
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 12px;
            }
        }
    }
}

.hero {
    background-color: var(--bg-hero);
    padding: 80px 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
        color: var(--text-white);
        margin-bottom: 15px;

        .highlight {
            background-image: linear-gradient(to left, #f233c6, #4846f9);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .description {
        color: var(--text-gray);
        margin-bottom: 25px;

    }

    .search {
        border-radius: 30px;
        padding: 10px 15px;
        background-color: var(--bg-button);
        border: 1px solid var(--border-light);
        color: var(--text-white);
        outline: none;
        transition: 0.2s;

        max-width: 50%;
        width: 100%;

        &:focus {
            border-color: #f233c6;
        }

        &:hover {
            border-color: #4846f9;
        }
    }
}

.events {
    padding: 30px 0;
    background-color: #222;

    .filter {
        display: flex;
        justify-content: center;

        .filter-list {
            display: flex;
            list-style: none;
            gap: 15px;

            .item {
                color: var(--text-gray);
                border: 1px solid var(--border-light);
                border-radius: 20px;
                padding: 5px 10px;;
                cursor: pointer;
                font-size: 11px;
                transition: 0.3s;

                &.active {
                    border-color: #4846f9;
                    background-color: #4846f9;
                    color: var(--text-white);
                }

                &:hover {
                    color: var(--text-white);
                    border-color: #4846f9;
                }
            }
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 90%;
        max-width: 1100px;
        margin: 40px auto;

        .card {
            width: calc(33% -30px);
            border: 1px solid var(--border-light);
            border-radius: 18px;
            background-color: #333;
            display: flex;
            flex-direction: column;

            .header {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                background-color: #4846f9;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

                .highlight {
                    background-color: #e20543;
                    color: #fff;
                    font-size: 10px;
                    border-radius: 10px;
                    padding: 2px 5px;
                }

                .date {
                background-color: #222;
                color: #fff;
                border-radius: 8px;
                font-size: 11px;
                padding: 2px 5px;
                }
            }

            .category {
                color: #fff;
                text-transform: uppercase;
                font-size: 9px;
                background-color: #111;
                padding: 2px 5px;
            }

            .link {
                text-decoration: unset;
                color: blue;
                text-align: center;
                background-color: white;
                border: 1px solid black;
                border-radius: 25px;
            }
        }
    }
}